
        <div class="padding-20">

            <h2>Add Article: </h2>
            <div class="container-fluid">
                <form name="newArticleForm" class="form-horizontal" novalidate>

                    <div class="form-group">
                        <label for="newArticleTitle" class="col-sm-9">Title *</label>
                        <div class="col-md-4 col-sm-7">
                            <input type="text" name="newArticleTitle" ng-model="newArticleTitle" maxlength="20" class="form-control" id="newArticleTitle"
                                placeholder="Enter Title" required><br>
                                <div ng-messages="newArticleForm.newArticleTitle.$error" ng-show="newArticleForm.newArticleTitle.$touched">
                                    <div ng-message="required">Title is required.</div>
                                </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="newArticle" class="col-sm-9">Article *</label>
                        <div class="col-md-4 col-sm-7">
                            <textarea rows="4" cols="50" name="newArticle" ng-model="newArticle" maxlength="255" class="form-control" id="newArticle"
                                placeholder="Enter Article" required> </textarea><br>
                                <div ng-messages="newArticleForm.newArticle.$error" ng-show="newArticleForm.newArticle.$touched">
                                    <div ng-message="required">Text is required</div>
                                </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div align="center">
                            <div class="row">
                                <div class="col-md-2 col-xs-2">
                                    <input type="button" name="addArticle" value="Add" ng-click="addArticle(newArticleTitle, newArticle)" class="btn btn-primary"
                                        ng-disabled="newArticleForm.$invalid">

                                    <input type="button" name="back" value="Back" onclick="history.back()" class="btn btn-primary">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>