<div ng-if="displayDeleteDialog">
    <div class="dialog"></div>
    <div class="box">
        <div class="dialog-text padding-3x">
            Do you want to delete this article? <br> This cannot be undone!
        </div>
        <div class="padding-3x">
            <input class="btn btn-default btn-lg margin-lr-3x" type="button" value="Cancel" ng-click="cancelArticle()" />
            <input class="btn btn-danger btn-lg" type="button" value="Delete" ng-click="deleteArticle()" />
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/article">
                <div class="color-orange">Articles</div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="margin-lr-3x color-orange" href="#/article">Home </a>
            </li>
            <li>
                <a class="margin-lr-3x color-orange" href="#/registration" ng-if="!authorizationService.isAuthorized"> <span class="glyphicon glyphicon-user"></span> Registration
                </a>
            </li>
            <!--ng-if="authorizationService.isAuthorized"-->
            <li>
                <a class="margin-lr-3x color-orange" href="#/addArticle">
                    Add Article
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li> <a class="margin-lr-3x color-orange" href="#/login" ng-if="!authorizationService.isAuthorized"><span class="glyphicon glyphicon-log-in"></span> Login </a> </li>
            <li>
                <a class="margin-lr-3x color-orange" href="#/article" ng-if="authorizationService.isAuthorized" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-2 col-md-offset-2">
            <div ng-repeat="article in articles">

                <div class="post {{$even ? 'orange': 'grey'}}">

                    <div class="article">
                        <div class="header margin-3x">
                            <div class="title padding-3x" ng-hide="article.editArticle">
                                <span>{{article.title}}</span>
                            </div>
                            <div class="title padding-3x" ng-show="article.editArticle">
                                <input class="border-radius color-black" type="text" ng-model="article.title">
                            </div>
                            <!--<div class="subheader padding-lr-3x">
                                {{article.subheader}}
                            </div>-->
                        </div>

                        <div class="body margin-3x no-margin-b" ng-hide="article.editArticle">
                            <div class="padding-3x">
                                <span>{{article.body}}</span>
                            </div>
                        </div>
                        <div class="body margin-3x no-margin-b" ng-show="article.editArticle">
                            <div class="padding-3x">
                                <textarea class="border-radius" rows="14" cols="47" ng-model="article.body"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="footer margin-tb-3x no-margin-b">
                        <form name="leaveCommentForm">
                            <form>
                                <!--ng-show="article.leaveComment"-->
                                <div class="body padding margin-lr-3x expand-slide" ng-class="article.animateLeaveComment">
                                    <div class="margin-3x">
                                        <input class="padding-lr border-radius" type="text" placeholder="Add title" name="newCommentTitle" ng-model="article.newCommentTitle">
                                    </div>
                                    <div class="margin-lr-3x">
                                        <textarea class="padding-lr border-radius" placeholder="Add comment" rows="4" cols="50" name="newComment" ng-model="article.newComment"></textarea>
                                    </div>
                                    <div class="margin-3x">
                                        <input type="button" value="Save" class="btn btn-info" ng-click="toggleLeaveComment(article); createComment(article)">
                                        <input type="button" value="Cancel" class="btn btn-default" ng-click="toggleLeaveComment(article)">
                                    </div>
                                </div>
                            </form>

                            <!--ng-show="article.showComments"-->
                            <div class="expand-slide margin-lr-3x" ng-class="article.animateShowComments">
                                <div class="comments">
                                    <ul class="list-unstyled">
                                        <li class="padding-lr-2x padding-tb border-b" ng-repeat="comment in article.comments">
                                            <b> {{comment.title}} </b> - {{comment.body}}
                                        </li>
                                    </ul>
                                </div>
                                <!--ng-show="article.showComments"-->
                                <input type="button" value="Hide comments" class="btn btn-info center margin-t" ng-click="taggleShowComments(article)">
                            </div>

                            <div class="center-line padding-tb-3x no-padding-b">
                                <!--<div class="" ng-if="authorizationService.isAuthorized">-->
                                <input type="button" value="Leave comment" ng-disabled="article.editArticle ||  article.showComments || article.leaveComment" class="btn btn-warning" ng-click="toggleLeaveComment(article)">
                                <!--</div>-->

                                <input type="button" value="Show comments" ng-disabled="article.editArticle || article.leaveComment || article.showComments" ng-click="taggleShowComments(article); getComments(article, comments)" class="btn btn-warning">
                            </div>

                            <div class="padding-3x center-line">
                                <!--<div ng-if="authorizationService.isAuthorized">-->
                                <input type="button" value="Edit Article" ng-disabled="article.leaveComment ||  article.showComments" ng-hide="article.editArticle" ng-click="toggleEditArticle(article)" class="btn btn-warning">
                                <input type="button" value="Save" class="btn btn-info" ng-show="article.editArticle" ng-click="toggleEditArticle(article); editArticle(article)">
                                <input type="button" value="Cancel" class="btn btn-default" ng-show="article.editArticle" ng-click="toggleEditArticle(article)">
                                <!--</div>-->

                                <!--<div ng-if="authorizationService.isAuthorized">-->
                                <!--ng-click="deleteArticle(article)"-->
                                <input type="button" value="Delete Article" ng-disabled="article.editArticle || article.leaveComment ||  article.showComments" ng-click="openDeleteDialog(article)" class="btn btn-warning">
                                <!--</div>-->
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>