<div ng-if="displayDeleteDialog">
    <div class="dialog"></div>
    <div class="box">
        <div class="dialog-text padding-3x">
            Do you want to delete this article? <br> This cannot be undone!
        </div>
        <div class="padding-3x">
            <input class="btn btn-default btn-lg margin-lr-3x" type="button" value="Cancel" ng-click="cancelArticle()" />
            <input class="btn btn-danger btn-lg" type="button" value="Delete" ng-click="deleteArticle()" />
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/article">
                <div class="color-orange">Articles</div>
            </a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active">
                <a class="margin-lr-3x color-orange" href="#/article">Home </a>
            </li>
            <li>
                <a class="margin-lr-3x color-orange" href="#/registration" ng-if="!authorizationService.isAuthorized"> <span class="glyphicon glyphicon-user"></span> Registration
                </a>
            </li>
            <!--ng-if="authorizationService.isAuthorized"-->
            <li>
                <a class="margin-lr-3x color-orange" href="#/addArticle">
                    Add Article
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li> <a class="margin-lr-3x color-orange" href="#/login" ng-if="!authorizationService.isAuthorized"><span class="glyphicon glyphicon-log-in"></span> Login </a> </li>
            <li>
                <a class="margin-lr-3x color-orange" href="#/article" ng-if="authorizationService.isAuthorized" ng-click="logout()"> <span class="glyphicon glyphicon-log-out"></span> Logout
                </a>
            </li>
        </ul>
    </div>
</nav>


<div class="container container-table">
    <div class="row vertical-center-row">
        <div class="text-center col-md-2 col-md-offset-2">
            <div ng-repeat="article in articles">

                <div class="post {{$even ? 'orange': 'grey'}}">

                    <div class="article">
                        <div class="header margin-3x">
                            <div class="title padding-3x" ng-hide="article.editArticle">
                                <span>{{article.title}}</span>
                            </div>
                            <div class="title padding center" ng-show="article.editArticle">
                                <input type="text" ng-model="article.title">
                            </div>

                            <div class="subheader padding-lr-3x">
                                {{article.subheader}}
                            </div>
                        </div>

                        <div class="body margin-3x" ng-hide="article.editArticle">
                            <div class="padding-3x">
                                <span>{{article.body}}</span>
                            </div>
                        </div>
                        <div class="body padding" ng-show="article.editArticle">
                            <textarea rows="4" cols="50" ng-model="article.body"></textarea>
                        </div>
                    </div>

                    <div class="footer">
                        <form name="leaveCommentForm">

                            <form>
                                <!--ng-show="article.leaveComment"-->
                                <div class="body padding center expand-slide" ng-class="article.animateLeaveComment">

                                    <label for="newCommentTitle" class="form-horizontal "> Title: </label>
                                    <input class="border-radius" type="text" name="newCommentTitle" ng-model="article.newCommentTitle">

                                    <textarea class="border-radius" rows="4" cols="50" name="newComment" ng-model="article.newComment"></textarea>
                                    <input type="button" value="Save" class="btn btn-info" ng-show="article.leaveComment" ng-click="toggleLeaveComment(article); createComment(article)">
                                    <input type="button" value="Cancel" class="btn btn-default" ng-show="article.leaveComment" ng-click="toggleLeaveComment(article)">
                                </div>
                            </form>

                            <!--ng-show="article.showComments"-->

                            <div class="expand-slide-showComments" ng-class="article.animateShowComments">
                                <div class="comments">
                                    <ul class="list-unstyled">
                                        <li class="padding-lr-2x padding-tb border-b" ng-repeat="comment in article.comments">
                                            <b> {{comment.title}} </b> - {{comment.body}}
                                        </li>
                                    </ul>
                                </div>

                                <input type="button" value="Hide comments" class="btn btn-info center margin-t" ng-show="article.showComments" ng-click="taggleShowComments(article)">
                            </div>

                            <!--<div class="expand-slide-showComments" ng-class="article.animateShowComments">
                                <div class="grid padding-2x">
                                    <div class="header">
                                        <div class="title padding-3x border-bottom">
                                            <h2> <b>Comments </b> </h2>
                                        </div>
                                        <div class="border-bottom">
                                            <div class="subheader container ">
                                                <div class="row ">
                                                    <div class="col-sm-6">
                                                        <b>Title</b>
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <b>Comment</b>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


                                    <div class="body container">
                                        <div class="row" ng-repeat="comment in article.comments">
                                            <div class="col-sm-6">
                                                {{comment.title}}
                                            </div>
                                            <div class="col-sm-6">
                                                {{comment.body}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <input type="button" value="Hide comments" class="btn btn-info center margin-t" ng-show="article.showComments" ng-click="taggleShowComments(article)">
                            </div>-->

                            <div class="center-line">
                                <!--<div class="" ng-if="authorizationService.isAuthorized">-->
                                <input type="button" value="Leave comment" class="btn btn-warning" ng-hide="article.leaveComment" ng-click="toggleLeaveComment(article)">

                                <!--</div>-->

                                <input type="button" value="Show comments" ng-hide="article.showComments" ng-click="taggleShowComments(article); getComments(article, comments)" class="btn btn-warning">

                            </div>

                            <div class="padding-3x center-line">
                                <!--<div ng-if="authorizationService.isAuthorized">-->
                                <input type="button" value="Edit Article" ng-hide="article.editArticle" ng-click="toggleEditArticle(article)" class="btn btn-warning">
                                <input type="button" value="Save" ng-show="article.editArticle" ng-click="toggleEditArticle(article); editArticle(article)">
                                <input type="button" value="Cancle" ng-show="article.editArticle" ng-click="toggleEditArticle(article)">
                                <!--</div>-->

                                <!--<div ng-if="authorizationService.isAuthorized">-->
                                <!--ng-click="deleteArticle(article)"-->
                                <input type="button" value="Delete Article" ng-click="openDeleteDialog(article)" class="btn btn-warning">
                                <!--</div>-->
                            </div>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
</div>